body {
    margin: 0;
    background: black;
}

canvas {
  z-index: 1;
  position: absolute;
}

video {
  z-index: -1;
  position: absolute;
}

img {
  display: none;
  z-index: -2;
  height: 2em;
}

.fullSize {
  width: 100vw;
  height: 100vh;
}
