body{
  width: 100vw;
  height: 100vh;
  margin:0;
  background: black;
}
.video-wrapper{
  width: 100vw;
  height: 100vh;
}

.video-wrapper .video{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.video-wrapper .video iframe{
  width: 100vw;
  height: 100vh;
}
