body {
  margin: 0;
  background: black;
}

canvas {
  z-index: 1;
  position: absolute;
}

video {
  z-index: -1;
  position: absolute;
}

img {
  display: none;
  z-index: -2;
  height: 2em;
}

h1,
h2,
h3,
h4,
h5 {
  display: inline-block;
}

.fullSize {
  width: 100vw;
  height: 100vh;
}

.notice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(220,220,220);
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

#mobile {
  display: none;
  z-index: 2;
  position: absolute;
}
